<div class="row">

	<h1>Create Posts</h1>
	
	<form action="/admin/posts/generate-fake-posts" method="post">
		<div class="form-group">
		<input type="number" class="form-control" name="amount" id="amount">
			
		</div>

		<button type="submit">Create</button>
	</form>
</div>