<h1>Create Categories</h1>

{{#each errors}}

<div class="alert alert-danger">
{{message}}

</div>


{{/each}}
<form action="/admin/categories/create" method="post" 

>

  <div class="form-group">
     <label for="categoryName">Category</label>
     <input type="text"  class="form-control" name="categoryName" id="categoryName" placeholder="Enter Category Name">
  </div>

   

	<button type="submit" class="btn btn-primary" >Create Category</button>
</form>