<h1>Edit Post</h1>

<form action="/admin/posts/edit" method="post" 
{{!-- enctype="multipart/form-data" --}}



>

	<div class="form-group">
     <label for="title">Title</label>
     <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" value={{post.title}}>
	</div>

	<div class="form-group">
     <label for="status">Status</label>
   <select name="status" id="status" class="form-control" >
   <option value="public"    >Public</option>
    <option value="private"  >Private</option>
     <option value="draft"  >Draft</option>
   </select>
	</div>


{{#select}}{{/select}}
	<div class="form-check">
     <label for="allowComments">
     <input type="checkbox" name="allowComments" id="allowComments" class="form-check-input" 
      {{#if post.alllowComments}} checked='checked' {{/if}}
     >
}
}
}
}
Allow Comments
     </label>
	</div>

	<div class="form-group">
     <label for="body">description</label>

     <textarea name="body" id="body" cols="30" rows="10" placeholder="Enter description" class="form-control">{{post.body}}</textarea>
     
	</div>

	<button type="submit" class="btn btn-primary" >Submit</button>
</form>